.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: flex-start;
}
.filter-buttons__item {
  margin-right: 8px;
  margin-bottom: 15px;
  &:last-child {
    margin-right: 0;
  }
}
.filter-buttons__button {
  font-weight: 500;
  line-height: 1.62;
  color: $primary-text-color;
  background-color: $tertiary-bg-color;
  cursor: pointer;
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.filter-buttons__item--current > .filter-buttons__button {
  background-color: $accent-color;
  color: $primary-white-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
