.logo {
  font-family: $logo-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $accent-color;
  margin-right: auto;
}
.logo > .logo-black {
  color: $primary-text-color;
}
.logo > .logo-white {
  color: $primary-white-color;
}
