.nav-menu {
  display: none;
  @media (min-width: $tablet) {
    & {
      display: flex;
    }
  }
}

.nav-menu__list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.nav-menu__item {
  &:not(:first-child) {
    margin-left: 50px;
  }
}
.nav-menu__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.nav-menu__link--current.nav-menu__link {
  color: $accent-color;
  &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    background-color: $icon-accent-color;
    border-radius: 2px;
    width: 100%;
    height: 4px;
  }
}
