.portfolio-cards {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.portfolio-card {
  margin-bottom: 30px;
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:nth-child(3n + 3) {
    margin-right: 0;
  }
  &:nth-child(n + 7) {
    margin-bottom: 0;
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}
.portfolio-card__picture {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: '';
    max-width: 450px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 64px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: $primary-white-color;
    background: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.portfolio-card__img {
  width: 100%;
  height: auto;
}
.portfolio-card__text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 64px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: $primary-white-color;
  transform: translateY(120%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 440px) {
    padding-top: 34px;
    font-size: 4vw;
  }
}
.portfolio-card__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid $secondary-border-color;
  &:hover,
  &:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .portfolio-card__picture::before,
  &:focus .portfolio-card__picture::before {
    transform: translateY(0);
  }
  &:hover .portfolio-card__text,
  &:focus .portfolio-card__text {
    transform: translateY(0);
  }
}
.portfolio-card .portfolio-card__footer {
  padding: 20px 24px;
  flex-grow: 1;
}
.portfolio-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25;
  letter-spacing: 0.06em;
  color: $primary-text-color;
  margin-bottom: 4px;
}
.portfolio-card__description {
  line-height: 1.25;
  color: $secondary-text-color;
}
