.what-we-do {
  display: none;
}
.what-we-do__list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
/* .what-we-do__item {
  margin-right: 30px;
  position: relative;
  &:last-child {
    margin-right: 0;
  }
}
.what-we-do__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  color: $primary-white-color;
  background: rgba(47, 48, 58, 0.8);
}
*/
