$primary-bg-color: #fff;
$secondary-bg-color: #2f303a;
$tertiary-bg-color: #f5f4fa;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$primary-white-color: #ffffff;
$secondary-white-color: rgba(255, 255, 255, 0.6);
$primary-black-color: #000000;
$accent-color: #18a0fb;
$accent-button-color: #188ce8;
$primary-border-color: #ececec;
$secondary-border-color: #eeeeee;
$tertiary-border-color: rgba(255, 255, 255, 0.3);
$icon-primary-color: #afb1b8;
$icon-accent-color: #2196f3;
$icon-bg-color: rgba(255, 255, 255, 0.1);
$body-font: 'Roboto', Arial, sans-serif;
$logo-font: Raleway, sans-serif; ;
